<a href="https://colab.research.google.com/github/BharathVemuri1999/VBK_Machine-learning-projects/blob/main/dpmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trying to build a model (Diabetes)

Vemuri bharath kumar... let's start:

importing the requried laibaries.

In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

collecting the data and making it compatable for the model.(data cleaning)

data set from kaggle.

In [14]:
#loading data to pandas
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [15]:
pd.read_csv?

In [16]:
#printing some rows in the data set
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
#no.of rows and columns in the data set
diabetes_dataset.shape

(768, 9)

In [18]:
#some statistical output of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 = negative, 1 = positive

In [20]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [21]:
#segregating data with names
A = diabetes_dataset.drop(columns='Outcome' , axis=1)
B = diabetes_dataset['Outcome']

In [22]:
print(A)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

outcome is missing in the above data.

In [23]:
print(B)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

in the above  data the there are differences in the data, to get the optimal output we need to bring all values to same standard . this processing is data Data standardiztion.

In [24]:
 scale = StandardScaler()

In [25]:

scale.fit(A)

StandardScaler()

In [26]:
standardized_data = scale.transform(A)

In [27]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [28]:
A = standardized_data

In [29]:
print(A)
print(B)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

1.This is the main step in  building the model 

2.In this step we are dividing the entire data set into test and training sets.

3.With the training set we will train the  model and with the test set we will check weather  is working properly.

In [30]:
A_train, A_test, B_train, B_test = train_test_split(A,B, test_size = 0.2, stratify = B, random_state=2)

In [31]:
print(A.shape, A_train.shape, A_test.shape)

(768, 8) (614, 8) (154, 8)

Now i am using the Vector Classifier algorithm to train the model
in linear model.

In [32]:
vector_classifier = svm.SVC(kernel ='linear')

In [33]:
vector_classifier.fit(A_train, B_train)

SVC(kernel='linear')

In [34]:
print(vector_classifier)

SVC(kernel='linear')

In the above cell we fitted the A_train and B_train data to classifier in linear format

Next step is evaluation of the model and checking the accuracy

In [35]:
A_train_prediction = vector_classifier.predict(A_train)
training_data_accuracy = accuracy_score(A_train_prediction, B_train)

In [36]:
print("Accuracy of the training data :", training_data_accuracy)

Accuracy of the training data : 0.7866449511400652

**** Most important step - checking the accuracy with the test data.

In [37]:
A_test_prediction = vector_classifier.predict(A_test)
test_data_accuracy = accuracy_score(A_test_prediction, B_test)

In [38]:
print("Accuracy of the test data is :", test_data_accuracy)

Accuracy of the test data is : 0.7727272727272727

building a system which can predict if data is given.

In [43]:
# below i took some random data from the data set without taking the outcome, to check if the model can predict the outcome

input_data =(2,197,70,45,543,30.5,0.158,53)

# here we are coverting the above array into numy array , processing is fast in numpy

input_data_as_numpy_array = np.asarray(input_data)

# reshapping the array , because we are predicting for single value- output

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardizing the  inputdata
std_data = scale.transform(input_data_reshaped)
print(std_data)

#prediction

prediction = vector_classifier.predict(std_data)
print(prediction)

if (prediction[0] ==[0]):
  print("the person is negative")
else:
    print("the person is positive")

[[-0.54791859  2.38188392  0.04624525  1.53455054  4.02192191 -0.18943689
  -0.94794368  1.68125866]]
[1]
the person is positive

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

the model is working , here i took the db positive person values as inputs , the model predicted the output 1 - means positive.

similar workflow can be adapted to build other model
some changes can be made like the structure of data and the alogithms 


........VBK